@model IEnumerable<WebApplication2.Models.News>
<h1>Lista Newsow</h1>

@foreach(var news in Model)
{
	
	<span>@news.Title</span>
		@using (Html.BeginForm("deletenews", "Home", FormMethod.Post))
		{
		<input type="hidden" name="Id" value="@news.Id" />
		<button type="submit">Usun</button>
		}
}

